.navbar {
  background: #333;
  
}
.container1 {
  background: url(https://images-na.ssl-images-amazon.com/images/I/81uIU7ke-IL._AC_SL1500_.jpg);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 170px; 
  
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
  
}

.container .footer-text{
  margin: 20px 0;
}

